main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff3eb;
  background-size: 100%;
  height: 100%;
  width: 100%;
}
#backButton, #nextButton, #request-button{
  min-width: 80px;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 50px;
  background-color: #FFDEDE;
  font-family: Cinzel;
  font-size: 16px;
}
#backButton:hover, #nextButton:hover, #request-button:hover{
  background-color: #FFE8E0;
  cursor: pointer;
}
h1{
  font-family: Cinzel;
  font-size: 48px;
  font-weight: normal;
  text-align: center;
  margin: 30px;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1120px;
}
#header {
  padding: 10px;
  font-size: 35px;
  font-family: Cinzel;
  display: flex;
  justify-content: space-between;
}
#weekdays {
  display: flex;
  justify-content: space-around;
  font-family: Cinzel;
}
#weekdays div {
  width: 150px;
  text-align: center;
  margin: 10px 0;
}
#calendar {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 150px;
  padding: 10px;
  height: 100px;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #55555555;
  display: flex;
  flex-direction: column;
  font-family: Cinzel;
  text-overflow: ellipsis;
  overflow: hidden;
}
.service-day:hover{
  cursor: pointer;
  background-color: #FFE8E0;
  transition: .2s;
}
.day + #currentDay {
  background-color: #FFDEDE;
}
.service-title {
  font-size: 13px;
  font-family: AvenirLight;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
  margin-top: 3px;
}
.booking-navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.booking-navbar span{
  display: flex;
  font-family: Cinzel;
  font-size: 20px;
  padding: 10px;
}
.booking-navbar span:not(:last-child){
  border-style: solid;
  border-width: 0 2px 0 0;
}
.booking-navbar span:hover, .isClicked{
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
#booking-table{
  margin-top: 20px;
  margin-bottom: 150px;
}
h2{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Avenir;
  font-size: 22px;
}
#service-item{
  display: flex;
  width: 100%;
  margin: 15px 0;
  background-color: white;
}
#date-and-time{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFE8E0;
  margin: 15px;
}
#service-date{
  font-family: Cinzel;
  font-size: 25px;
  margin-bottom: 3px;
}
#service-time{
  font-family: Cinzel;
  font-size: 20px;
  font-weight: 100;
}
.detail-container{
  flex: 2;
  display: flex;
  flex-direction: column;
  margin: 15px;
  overflow: hidden;
}
.service-field{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}
#service-title{
  font-family: Avenir;
  font-size: 25px;
}
.username{
  font-family: AvenirLight;
  font-size: 15px;
}
#service-username, #service-location, #service-payment{
  margin-left: 10px;
}
#service-username:hover{
  transition: .1s;
  color: pink;
  cursor: pointer;
}
.service-field >i{
  font-size: 20px;
}
.field-container{
  display: flex;
  justify-content: space-between;
}
#service-button{
  min-width: 80px;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 0 10px 0 10px;
  background-color: #FFE8E0;
  font-family: Cinzel;
  font-size: 15px;
}
#service-button:not(:disabled):hover{
  background-color: #FFDEDE;
  cursor: pointer;
}
h3{
  font-family: Avenir;
  font-size: 40px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
#artist-completed, #client-completed{
  margin-top: 10px;
  display: none;
}
.rating-title{
  display: flex;
  align-items: center;
}
.rating-title >h2{
  margin-right: 5px;
  font-family: Cinzel;
}
.feedback{
  font-family: AvenirLight;
  font-size: 18px;
  margin-top: 5px;
}